<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs') %>
  </head>
  <body class="bg-gray-10">
    <%- include('./partials/navbar.ejs') %>

    <div class="flex justify-center h-full w-screen items-center">
      <form action="/login" method="POST" class="w-full md:w-1/2 flex flex-col items-center">
        <!-- text login -->
        <h1 class="text-center text-2xl font-bold text-gray-600 mb-6">LOGIN</h1>

        <!-- email input -->
        <div class="w-3/4 mb-6">
          <input type="email" name="email" id="email" class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500" placeholder="User Name" required>
        </div>

        <!-- password input -->
        <div class="w-3/4 mb-6">
          <input type="password" name="password" id="password" class="w-full py-4 px-8 bg-slate-200 placeholder:font-semibold rounded hover:ring-1 outline-blue-500" placeholder="Password" required>
        </div>

        <!-- button -->
        <div class="w-3/4 mt-4">
          <button type="submit" class="py-4 bg-blue-400 w-full rounded text-blue-50 font-bold hover:bg-blue-700">LOGIN</button>
        </div>
      </form>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
